.root {
    gray-0: #EFEEF4;
    gray-1: #E4E3E9;
    gray-2: #B7B4BE;
    gray-4: #4E4E4E;
    gray-6-tr: #01010120;
    gray-6: #010101;

    beige-2: #D2C3AA;
    beige-3: #A7987E;

    green-4: #8BA00A;

    yellow-0-tr-1: #FFFAF228;
    yellow-0-tr-2: #FFFAF250;
    yellow-0: #FFFAF2;
    yellow-1: #F0EAD3;
    yellow-2: #D0B95E;
    yellow-3: #FFEC2B;
    yellow-4: #F6D300;

    orange-3: #FD6738;

    red-3: #DF2126;
    red-4: #B31F23;
    red-5: #a51d20;
    red-6: #660B09;

    magenta-3: #B3294C;
    magenta-4: #611F3A;
    magenta-5-tr: #54193150;
    magenta-5: #541931;
    magenta-6: #3B081D;
    magenta-7-tr: #14020850;
    magenta-7: #140208;

    -fx-background-color: magenta-6;
}

.h1 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 96px;
}

.h2 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 38px;
}

.h3 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 28px;
}

.h4 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 24px;
}

.h5 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 21px;
}

.h6 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}

.b1 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.b2 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 10px;
}

.caption {
    -fx-font-family: "National Park";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-fill: yellow-0-tr-2;
}

.start-content-section {
    -fx-padding: 36px 16px 64px 16px;
    -fx-spacing: 480px;
}

.play-button {
    -fx-background-color: linear-gradient(to bottom, magenta-3, magenta-5);
    -fx-background-radius: 16;
    -fx-text-fill: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-border-width: 4;
    -fx-border-color: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-border-radius: 16;
    -fx-padding: 0px 128px;
}

.title {
    -fx-fill: linear-gradient(to bottom, yellow-3, orange-3, red-3);
}