.root {
    gray-0: #EFEEF4;
    gray-2: #B7B4BE;
    gray-4: #4E4E4E;
    gray-6: #010101;

    beige-2: #D2C3AA;
    beige-3: #A7987E;

    green-4: #8BA00A;

    yellow-0-tr-1: #FFFAF228;
    yellow-0-tr-2: #FFFAF250;
    yellow-0: #FFFAF2;
    yellow-1: #F0EAD3;
    yellow-2: #D0B95E;
    yellow-3: #FFEC2B;
    yellow-4: #F6D300;

    orange-3: #FD6738;

    red-3: #DF2126;
    red-4: #B31F23;
    red-5: #660B09;

    magenta-3: #B3294C;
    magenta-4-tr: #54193150;
    magenta-4: #541931;
    magenta-5: #3B081D;
    magenta-6-tr: #14020850;
    magenta-6: #140208;

    -fx-background-color: magenta-5;
}