.root {
    gray-0: #EFEEF4;
    gray-1: #E4E3E9;
    gray-2: #B7B4BE;
    gray-4: #4E4E4E;
    gray-6-tr: #01010120;
    gray-6: #010101;

    beige-2: #D2C3AA;
    beige-3: #A7987E;

    green-4: #8BA00A;

    yellow-0-tr-1: #FFFAF228;
    yellow-0-tr-2: #FFFAF250;
    yellow-0: #FFFAF2;
    yellow-1: #F0EAD3;
    yellow-2: #D0B95E;
    yellow-3: #FFEC2B;
    yellow-4: #F6D300;

    orange-3: #FD6738;

    red-3: #DF2126;
    red-4: #B31F23;
    red-5: #a51d20;
    red-6: #660B09;

    magenta-3: #B3294C;
    magenta-4: #611F3A;
    magenta-5-tr: #54193150;
    magenta-5: #541931;
    magenta-6: #3B081D;
    magenta-7-tr: #14020850;
    magenta-7: #140208;

    -fx-background-color: magenta-6;
}

.h1 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 96px;
}

.h2 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 38px;
}

.h3 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 28px;
}

.h4 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 24px;
}

.h5 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 21px;
}

.h6 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}

.b1 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}

.b2 {
    -fx-font-family: "Koulen";
    -fx-font-weight: normal;
    -fx-font-size: 10px;
}

.caption {
    -fx-font-family: "National Park";
    -fx-font-weight: normal;
    -fx-font-size: 16px;
    -fx-fill: yellow-0-tr-2;
}

.start-content-section {
    -fx-padding: 64px;
    -fx-spacing: 500px;
}

.play-button {
    -fx-background-color: linear-gradient(to bottom, magenta-3, magenta-5);
    -fx-background-radius: 16;
    -fx-text-fill: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-border-width: 4;
    -fx-border-color: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-border-radius: 16;
    -fx-padding: 0px 128px;
}

.title {
    -fx-fill: linear-gradient(to bottom, yellow-3, orange-3, red-3);
}

.content-section {
    -fx-padding: 16px;
    -fx-spacing: 24px;
}

.game-board-section {
    -fx-spacing: 64px;
}

.player-header-section {
    -fx-spacing: 12px;
}

.player-names-container {
    -fx-padding: 4px;
    -fx-spacing: 8px;
}

.name-tag {
    -fx-background-color: magenta-5;
    -fx-border-width: 2;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 0px 16px;
    -fx-pref-width: 236px;

    -fx-border-color: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-text-fill: linear-gradient(to bottom, yellow-1, yellow-4);
}

.name-tag:hover {
    -fx-background-color: magenta-4;
}

.name-tag:selected,
.name-tag:selected:disabled {
    -fx-opacity: 1.0;
    -fx-border-width: 2;
    -fx-border-color: linear-gradient(to bottom, yellow-3, orange-3, red-3);
    -fx-text-fill: linear-gradient(to bottom, yellow-3, orange-3, red-3);
}

.name-tag:disabled {
    -fx-opacity: 1.0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: yellow-0-tr-2;
}

.card-piles-section {
    -fx-spacing: 164px;
}

.card-pile-section {
    -fx-spacing: 12px;
}

.card {
    -fx-pref-width: 176px;
    -fx-pref-height: 230px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-border-width: 2;
}

.card.empty {
    -fx-border-color: yellow-0-tr-2;
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-background-color: transparent;
}

.card.back {
    -fx-background-color: red-4;
}

.card.front {
    -fx-background-color: gray-0;
    -fx-padding: 8px;
}

.card:disabled {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.card.back:hover {
    -fx-background-color: red-5;
}

.card.front:hover {
    -fx-background-color: gray-1;
}

.card-front-content {
    -fx-padding: 2px 6px 12px 6px;
    -fx-border-radius: 4;
    -fx-border-color: green-4;
    -fx-border-width: 2;
    -fx-spacing: 2px;
}

.card-header {
    -fx-spacing: 4px;
    -fx-pref-height: 28px;
}

.card-circle {
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
    -fx-background-radius: 12px;
    -fx-background-color: green-4;
}

.card-title-section {
    -fx-spacing: -8px;
}

.card-title {
    -fx-fill: gray-6;
}

.card-subtitle {
    -fx-fill: gray-2;
}

.card-description {
    -fx-fill: gray-0;
    -fx-text-alignment: center;
    -fx-line-spacing: -6;
}

.bracket-icon {
    -fx-fill: transparent;
    -fx-stroke: gray-0;
    -fx-stroke-width: 1.5;
}

.exploding-kittens-text {
    -fx-spacing: -20px;
}

.exploding-text {
    -fx-fill: linear-gradient(to bottom, yellow-3, orange-3, red-3);
}

.kittens-text {
    -fx-fill: gray-0;
}

.player-hand-section {
    -fx-spacing: 12;
}

.hand-visibility-toggle {
    -fx-text-fill: gray-0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 4;
}

.hand-visibility-toggle:hover {
    -fx-underline: true;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-opacity: 0;
}

.hand-cards-container {
    -fx-spacing: 8px;
}

.turn-control-section {
    -fx-spacing: 8;
}

.turn-control-button {
    -fx-border-radius: 8;
    -fx-padding: 0px 16px;
    -fx-effect: dropshadow(gaussian, magenta-5-tr, 2, 0, 0, 2);
}

.turn-control-button.enabled {
    -fx-background-color: linear-gradient(to bottom, yellow-1, yellow-4);
    -fx-text-fill: magenta-6;
}

.turn-control-button.disabled {
    -fx-background-color: beige-2;
    -fx-text-fill: beige-3;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;
}

.restart-icon {
    -fx-fill: yellow-1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}